xml-resources/web-service-references/paisesWebService/wsdl/localhost_8080/paisesWebService.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><xs:schema xmlns:tns="http://servidorwebservices/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://servidorwebservices/">

<xs:element name="getMonedaByCodigo" type="tns:getMonedaByCodigo"></xs:element>

<xs:element name="getMonedaByCodigoResponse" type="tns:getMonedaByCodigoResponse"></xs:element>

<xs:element name="getMonedas" type="tns:getMonedas"></xs:element>

<xs:element name="getMonedasResponse" type="tns:getMonedasResponse"></xs:element>

<xs:element name="getPaises" type="tns:getPaises"></xs:element>

<xs:element name="getPaisesMoneda" type="tns:getPaisesMoneda"></xs:element>

<xs:element name="getPaisesMonedaResponse" type="tns:getPaisesMonedaResponse"></xs:element>

<xs:element name="getPaisesResponse" type="tns:getPaisesResponse"></xs:element>

<xs:element name="getPaisesZona" type="tns:getPaisesZona"></xs:element>

<xs:element name="getPaisesZonaResponse" type="tns:getPaisesZonaResponse"></xs:element>

<xs:element name="getZonaById" type="tns:getZonaById"></xs:element>

<xs:element name="getZonaByIdResponse" type="tns:getZonaByIdResponse"></xs:element>

<xs:element name="getZonas" type="tns:getZonas"></xs:element>

<xs:element name="getZonasResponse" type="tns:getZonasResponse"></xs:element>

<xs:complexType name="getPaises">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="getPaisesResponse">
<xs:sequence>
<xs:element name="return" type="tns:pais" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="pais">
<xs:sequence>
<xs:element name="codigoBandera" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="codigoDivisa" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="codigoNic" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="id" type="xs:long"></xs:element>
<xs:element name="idArea" type="xs:long"></xs:element>
<xs:element name="nombre" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getPaisesZona">
<xs:sequence>
<xs:element name="arg0" type="xs:long"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getPaisesZonaResponse">
<xs:sequence>
<xs:element name="return" type="tns:pais" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getZonaById">
<xs:sequence>
<xs:element name="arg0" type="xs:long"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getZonaByIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:zona" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="zona">
<xs:sequence>
<xs:element name="id" type="xs:long"></xs:element>
<xs:element name="nombre" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getMonedaByCodigo">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getMonedaByCodigoResponse">
<xs:sequence>
<xs:element name="return" type="tns:moneda" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="moneda">
<xs:sequence>
<xs:element name="codigo" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="nombre" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getPaisesMoneda">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getPaisesMonedaResponse">
<xs:sequence>
<xs:element name="return" type="tns:pais" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getZonas">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="getZonasResponse">
<xs:sequence>
<xs:element name="return" type="tns:zona" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getMonedas">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="getMonedasResponse">
<xs:sequence>
<xs:element name="return" type="tns:moneda" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>